*{margin: 0px;padding: 0px;box-sizing: border-box;}
*::after,*::before{box-sizing: border-box;}
body{height: 100vh;display: flex;flex-direction: column;
    justify-content:center;align-items: center;background: #FFE600;font-size: 16px;}
.code_wrapper{
    flex: 1;
    height: 50%;
    width: 100%;
    background: white;
    /* overflow: hidden; */ /*写在这不会自动滚*/
}
.code_wrapper .code{
    padding: 16px;
    overflow: hidden;  /*必写*/
    height: 100%;
}
.actions{
    position: absolute;
    top: 15px;
    right: 8px;
    display: flex;
    flex-direction: column;
}
.actions > button{
    border: none;
    width: 48px;
    height: 36px;
    padding: 8px 8px;
    background:rgb(241,241,241);
    margin-bottom: 8px;
    border-radius: 10px;
}
.actions > button.active{
    background: #FFE600;
    box-shadow: 0px 0px 5px 3px rgba(255,230,0,0.5);
}
.actions > button:focus{
    outline: none;
}


